extends ./layout.jade
block content
    .container-fluid
        .row
            .col-lg-12(id='content')
                .input-group
                    input#search_courses_input(type="text", class="form-control", placeholder="Course name")
                    span.input-group-btn
                        button(id="search_courses_btn", class="btn btn-default") Search
                br
                #list


block scripts
    script(id='course_view', type='text/template')
        include ./js/course_view.html
