doctype html
head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="scripts/scripts.js")
body
    .container
        h2.text-center Form searching course by name
        form(role='form')
            .form-group
                label(for='search') Name:
                input#search.form-control(name='search' type='text', placeholder='Enter name')
            .checkbox
                label
                    input#topics(name='inTopics' type='checkbox')
                    |  In topics
            .checkbox
                label
                    input#milestones(name='inMilestones' type='checkbox')
                    |  In milestones
            button.btn.btn-default(type='submit') Search
    .container
        #result
