extends ./layout.jade
block content
    .container-fluid
        .row
            include ./includes/content.jade

block scripts
    script(id='sidebar', type='text/template')
        include ./js/sidebar.html
    script(id='search-view', type='text/template')
        include ./js/search_view.html
    script(id='degree-view', type='text/template')
        include ./js/degree_view.html
    script(id='course-view', type='text/template')
        include ./js/course_view.html
    script(id='topic-view', type='text/template')
        include ./js/topic_view.html
