doctype html
head
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/simple-sidebar.css")
    script(src="/scripts/lib/jquery.min.js")
    script(src="/scripts/lib/underscore.min.js")
    script(src="/scripts/lib/backbone.min.js")
body
    #wrapper

        // include sidebar
        include ./includes/sidebar.jade
        
        // include header
        include ./includes/header.jade
        
        block content
        
        block scripts
        
        script(src="/scripts/backbone-app.js")
        script(src="/scripts/lib/bootstrap.min.js")
        script(src="/scripts/scripts.js")
    
