.user {
    background-image: url("https://pp.vk.me/c11420/u11176961/-6/z_b00a2dfb.jpg") !important;
    background-clip: content-box;
    background-size: 150px;
    background-position: center;

    width: 159px;
}

.fillParent {
    height: 100%;
    width: 100%;
    text-align: center;
}

.nobg {
    background: none !important;
}

.brand-hack {
    margin-left: -15px;
    font-size: 18px
}

.fullscreen .modal-dialog {
    width: 80% !important;
    height: 80% !important;
    padding: 0;
}
/*.node circle {*/
    /*fill: #fff;*/
    /*stroke: steelblue;*/
    /*stroke-width: 1.5px;*/
/*}*/

/*.node {*/
    /*font: 10px sans-serif;*/
/*}*/

/*.link {*/
    /*fill: none;*/
    /*stroke: #ccc;*/
    /*stroke-width: 1.5px;*/
/*}*/

path.arc {
    cursor: move;
    fill: #fff;
}

.node {
    font-size: 10px;
}

.node:hover {
    fill: #1f77b4;
}

.link {
    fill: none;
    stroke: #1f77b4;
    stroke-opacity: .4;
    pointer-events: none;
}

.link.source, .link.target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.node.target {
    fill: #d62728 !important;
}

.link.source {
    stroke: #d62728;
}

.node.source {
    fill: #2ca02c;
}

.link.target {
    stroke: #2ca02c;
}