nav(class='navbar navbar-default navbar-static-top')
    .container
        #menu-toggle(class='navbar-header')
            a(class='navbar-brand', href='#') Degree Overview
        #navbar(class='navbar-collapse collapse')
            ul(class='nav navbar-nav navbar-right')
                li(class='active dropdown user')
                    a(href="#",class="dropdown-toggle nobg", data-toggle="dropdown", role="button", aria-expanded="false")
                        span.caret
                        ul(class='dropdown-menu userbar', role='menu')
                            li(role="presentation", class="dropdown-header") myzone
                            li
                                a(href="#") Profile
                            li
                                a(href="#") Sign out