#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
        li
            a(id='a_ds', href='#degree_summary') Degree Summary
        li
            a(id='a_cs', href='#course_search') Courses Search
        li
            a(id='a_ts', href='#topic_search') Topic Search
