#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand Features
        li
            a(id='a_f1', href='#') Feature 1
        li
            a.bg-primary(id='a_cs', class='active', href='#course_search') Courses Search
        li
            a(id='a_f2', href='#2') Feature 3
        li
            a(id='a_f3', href='#3') Feature 4
